.boxTwo
{
    position: absolute;
    width: 470px;
    height: 250px;


    display: block;
    margin-top: 88px;
    margin-left: 36%;

    background: rgb(80, 253, 123);
}

.selImage
{
    image-resolution: 300dpi;
    object-fit: cover;
    object-position: 50% 20%;
    border-radius: 75%;
    width: 25%;
    height: 50%;

    margin-top: -8%;
    margin-left: 40%;
    margin-bottom: 5%;
}

.bio
{
    font-size: 23px;
    text-align: center;
}

.gradient-text
{
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(to right, #e251ff, #2b4bff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -20px;
    margin-left: 50px;
}

.arrow-body
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    margin-top: 420px;
    margin-left: 620px;
    rotate: -90deg;
}

.arrow
{
    position: absolute;
    width: 35px;
    height: 35px;
    margin-top: 300px;
    border-top: 12px solid #fff;
    border-left: 12px solid #fff;
    transform: rotate(-45deg);
    animation: arrow-load 3.5s infinite;
}

.arrow:nth-child(1)
{
    left: 25px;
    animation-delay: -0.4s;
}

.arrow:nth-child(2)
{
    animation-delay: -0.2s;
}
.arrow:nth-child(3)
{
    right: 25px
}

@keyframes arrow-load
{
    0%
    {
        opacity: 0;
        transform: rotate(-45deg) translate(60px,60px);
    }

    0%
    {
        opacity: 1;
    }

    100%
    {
        opacity: 0;
        transform:rotate(-45deg) translate(-60px,-60px);
    }
}